*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
   
  overflow: hidden;
}

body {
  box-sizing: border-box;
  font-size: 2rem;
  color: #F6F7F8;
  font-family: 'Roboto', sans-serif;
  background-color: #747D8C;
}

.app {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countrybox {
  width: 30rem;
  height: 30rem;
  background: linear-gradient(#EF4144 50%, #F6F7F8 50%);
  box-shadow: 10px 10px 25px -9px rgba(0, 0, 0, 0.46);
  border-radius: 30px;
  display: flex;
  transition: width 0.3s 0.1s ease, height 0.3s 0.3s ease;
}
.countrybox:hover {
  cursor: pointer;
  height: 35rem;
  width: 32rem;
}
.countrybox:hover .countrybox_divider {
  height: 5rem;
}
.countrybox_divider {
  height: 2.8rem;
  width: 100%;
  background-color: #302D2D;
  align-self: center;
  transition: width 0.3s 0.1s ease, height 0.3s 0.3s ease;
}
.countrybox_circle {
  width: 8.1rem;
  height: 8.1rem;
  border-radius: 2000rem;
  border: 1.2rem solid #302D2D;
  background-color: #F6F7F8;
  position: fixed;
  top: calc(50% - 4rem);
  left: calc(50% - 4rem);
  transition: all 0.3s ease;
}

.countrybox--open {
  width: 40rem;
  height: 80rem;
  background: linear-gradient(#EF4144 50%, #F6F7F8 50%);
  box-shadow: 10px 10px 25px -9px rgba(0, 0, 0, 0.46);
  border-radius: 30px;
  display: flex;
  transition: all 0.3s ease;
}
.countrybox--open:hover {
  cursor: pointer;
  width: 40rem;
  height: 80rem;
}
.countrybox--open_divider {
  height: 73rem;
  width: 100%;
  background-color: #302D2D;
  align-self: center;
  transition: all 0.3s ease;
}
.countrybox--open_circle {
  width: 8.1rem;
  height: 8.1rem;
  border-radius: 2000rem;
  border: 1.2rem solid #302D2D;
  background-color: #F6F7F8;
  position: fixed;
  top: calc(50% - 4rem);
  left: calc(50% - 4rem);
  transition: opacity 0.3s ease;
  opacity: 0.5;
}

.hide {
  display: none;
}

.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}
.Box-container {
  position: absolute;
  top: 3.5rem;
  left: 0px;
  width: 100%;
  height: 73rem;
  padding: 2rem;
}

.countryFilter-container {
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid rgba(246, 247, 248, 0.5);
}
.countryFilter-container div {
  display: inline;
}
.countryFilter-container input {
  outline: none;
  border: none;
  background-color: transparent;
  padding-left: 1rem;
  color: #F6F7F8;
  font-size: 2.3rem;
  width: 18rem;
}
.countryFilter-container div:nth-child(2) {
  float: right;
  cursor: pointer;
}
.countryFilter-container i {
  font-size: 3rem;
}
.countryFilter-container p {
  display: inline;
  font-size: 2.5rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

.countrybox-container {
  margin-top: 20px;
  height: 65rem;
  overflow: scroll;
  overflow-x: hidden;
}
.countrybox-container::-webkit-scrollbar {
  display: none;
}
.countrybox-container__card {
  width: 100%;
  height: 20rem;
  background-color: #F6F7F8;
  border-radius: 0.3rem;
  opacity: 0.95;
  padding: 0.5rem;
  text-align: center;
  font-size: 3rem;
  color: #302D2D;
}
.countrybox-container__card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.countrybox-container__card__footer div {
  font-size: 2rem;
  width: 33%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.countrybox-container__card__footer div:nth-child(2) {
  border-left: 2px solid rgba(48, 45, 45, 0.2);
  border-right: 2px solid rgba(48, 45, 45, 0.2);
}
.countrybox-container__card__footer--sub {
  opacity: 0.2;
  text-transform: uppercase;
}
.countrybox-container__card__footer--sub div {
  font-size: 1.3rem;
}
.countrybox-container__card__footer--sub div:nth-child(2) {
  border-left: 2px solid #302d2d;
  border-right: 2px solid #302d2d;
}
.countrybox-container__card:not(:last-child) {
  margin-bottom: 1.8rem;
}
.countrybox-container img {
  display: block;
  height: 100px;
  margin: 0 auto;
}
